<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Calzado Marin</title>
</head>

<body class="rounded">
  
  <div id="app" class="d-flex flex-column  justify-content-center align-items-center h-100">
    <header class="mb-3 w-100">
      <div class="container-fluid rounded w-100 h-100 d-flex align-items-center justify-content-center">
        <div class="container d-flex">
          <h1 class="fw-bold">Calzado Marin S.A.S</h1>
          <img src="https://cdn-icons-png.flaticon.com/128/2742/2742687.png" alt="Icon" class="ms-3">
        </div>
        <div class="container d-flex flex-row-reverse">
          <button class="btn btn-primary " @click="salir"><img src="https://cdn-icons-png.flaticon.com/128/3456/3456192.png"
              alt=""></button>
        </div>
      </div>
    </header>
    <!-- Inicio del encabezado -->
      
    <!-- Fin del encabezado -->

    <!-- factura  -->
    <div class="container-fluid container-main" v-if="watchMain===5">

      <div class="container-fluid main">
        <div class="prueba col">
          <div class="container-title">
            <h1 class="title">Factura Ensamblador(a)</h1>
          </div>
          <div class="container mt-3 table-container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Salario Base:</th>
                  <th scope="col">Horas Extras</th>
                  <th scope="col">Zapatillas Ensa.</th>
                  <th scope="col">Zapatos Ensa</th>
                  <th scope="col">Valor Extras</th>
                  <th scope="col">Sub trasporte</th>
                  <th scope="col">Bonificación</th>
                  <th scope="col">Hijos</th>
                  <th scope="col">Bono por Hijo</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th>1.000.000</th>
                  <td>5</td>
                  <td>1200</td>
                  <td>2000</td>
                  <td>30.000</td>
                  <td>200.000</td>
                  <td>100.000</td>
                  <td>Si</td>
                  <td>60.000</td>
                  <td>3.000.000</td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>

        <div class="container-button mt-5 col-3">
          <button class="btn">Liquidación</button>
        </div>

      </div>

    </div>

    <!-- inicio login -->
    <div class="container  w-100 h-50  d-flex flex-column justify-content-center mt-5 mb-4" v-if="watchMain===0" >
        <div class="prueba col d-flex flex-column   w-100">

          <div class="d-flex justify-content-center" >
            <h1 class="title">Inicio de sesión</h1>
          </div>
          <div class=" mt-5 d-flex justify-content-center align-items-center" >
            <section class="w-25">
              <div class="mb-2">
                <label for="">Cargo</label>
              </div>
              <select class="form-select rounded-2 w-100" aria-label="Default select example" v-model="id">
                <option selected value="0">Seleccione un cargo </option>
                <option value="1">Administrador(a)</option>
                <option value="2">Secretario(a)</option>
                <option value="3">Vendedor(a)</option>
                <option value="4">Ensamblador(a)</option>
              </select>
            </section>

          </div>

          <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-3 d-flex">
                <label for="">Pin de acceso</label>
              </div>
                <input type="password" name="pin" id="pin" class="form-control rounded-2 w-100" v-model="pass">
              
            </section>
          </div>
    </div>

        <div class="container col-3 d-flex justify-content-center w-50 mt-5">
          <button class="btn btn-primary w-50 font-size-bold" @click="login"> Ingresar</button>
        </div>
    
      </div>

      <!-- admin -->
    <div class="container  w-100 h-50  d-flex flex-column justify-content-center mt-5 mb-4 " v-if="watchMain===1">
    
      <div class="prueba col d-flex flex-column   w-100">
    
        <div class="d-flex justify-content-center">
          <h1 class="title">Administrador del sistema</h1>
        </div>
    
        <div class=" mt-2 d-flex justify-content-center align-items-center">
          <section class="section">
            <div class="mb-2">
              <label for="">Cargo</label>
            </div>
            <select class="form-select rounded-2 w-100" aria-label="Default select example" @change="admin()"
              v-model="watchAdmin">
              <option value="0">Seleccione un cargo </option>
              <option value="1">Secretario(a)</option>
              <option value="2">Vendedor(a)</option>
              <option value="3">Ensamblador(a)</option>
            </select>
          </section>
    
        </div>
    
        <div class="secretaria mt-3 d-flex flex-column justify-content-center align-items-center" v-if="watchAdmin===1">
          <section class="section">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Salario base</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="baseSalary">
          </section>
        </div>
        <div class="vendedor mt-3 d-flex flex-column justify-content-center align-items-center" v-if="watchAdmin===2">
          <section class="section">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Salario base</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="baseSalary">
          </section>
          <section class="section mt-2">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Comision de ventas</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="commission">
          </section>
    
    
        </div>
        <div class="ensamblador mt-3 d-flex flex-column justify-content-center align-items-center" v-if="watchAdmin===3">
          <section class="section">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Salario base</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="baseSalary">
          </section>
          <section class="section mt-2">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Cantidad máxima de Zapatos</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="maxShoes">
          </section>
          <section class="section mt-2">
            <div class=" contianer-label mb-1 d-flex">
              <label for="">Cantidad máxima de Zapatillas</label>
            </div>
            <input type="number" class="form-control rounded-2 w-100" v-model="maxSneakers">
          </section>
        </div>
    
      </div>
    
      <div class="container col-3 d-flex justify-content-center w-50 mt-5">
        <button class="btn btn-primary w-50 font-size-bold" @click="save"> Guardar</button>
        <button class="btn btn-primary w-50 font-size-bold ms-3"> Registro </button>
      </div>
    
    </div>

      <!-- secretaria -->
      <div class="container  w-100 h-50  d-flex flex-column justify-content-center mt-5 mb-4 " v-else-if="watchMain===2">
        <div class="prueba col d-flex flex-column   w-100">
      
          <div class="d-flex justify-content-center">
            <h1 class="title">Secretario(a)</h1>
          </div>
          <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25 mt-5">
              <div class=" contianer-label mb-3 d-flex">
                <label for="">Horas extras</label>
              </div>
              <input type="number"  class="form-control rounded-2 w-100" v-model="extraHours">
            </section>
          </div>
        </div>
      
        <div class="container col-3 d-flex justify-content-center w-50 mt-5">
          <button class="btn btn-primary w-50 font-size-bold" @click="save"> Guardar</button>
        </div>
      
      </div>

      <!-- vendedor --> 
      <div class="container  w-100 h-50  d-flex flex-column justify-content-center mt-5 mb-4 " v-if="watchMain===3">

        <div class="prueba col d-flex flex-column   w-100">
      
          <div class="d-flex justify-content-center">
            <h1 class="title">Vendedor(a)</h1>
          </div>
      
          <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-3 d-flex">
                <label for="">Zapatillas vendidas</label>
              </div>
              <input type="number"  class="form-control rounded-2 w-100" v-model="saleSneakers">
      
            </section>
          </div>

          <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-3 d-flex">
                <label for="">Zapatos vendidos</label>
              </div>
              <input type="number"  class="form-control rounded-2 w-100" v-model="saleShoes">
          
            </section>
          </div>
        </div>
      
        <div class="container col-3 d-flex justify-content-center w-50 mt-5">
          <button class="btn btn-primary w-50 font-size-bold" @click="save"> Guardar</button>
        </div>
      
      </div>

      <!-- ensamblador -->
      <div class="container  w-100 h-50  d-flex flex-column justify-content-center mt-5 mb-4 " v-if="watchMain===4">
      
        <div class="prueba col d-flex flex-column   w-100">
      
          <div class="d-flex justify-content-center">
            <h1 class="title">Ensamblador(a)</h1>
          </div>
      
          <div class="mt-3 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-1 d-flex">
                <label for="">Horas extras</label>
              </div>
              <input type="number" class="form-control rounded-2 w-100" v-model="extraHours">
      
            </section>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-1 d-flex">
                <label for="">Zapatillas ensambladas</label>
              </div>
              <input type="number"  class="form-control rounded-2 w-100" v-model="joinSneakers">
          
            </section>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center align-items-center">
            <section class="w-25">
              <div class=" contianer-label mb-1 d-flex">
                <label for="">Zapatos ensamblados</label>
              </div>
              <input type="number" class="form-control rounded-2 w-100" v-model="joinShoes">
          
            </section>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center align-items-center" >
            <section class="w-25">
              <div class=" contianer-label mb-1 d-flex">
                <label for="">¿Tienes hijos?</label>
              </div>
              <select class="form-select rounded-2 w-100" aria-label="Default select example" @change="sons()" v-model="watchSons">
                <option value="0">Seleccione un cargo </option>
                <option value="1">Si</option>
                <option value="2">No</option>
                
              </select>
            </section>
          </div>

          <div class="mt-3 d-flex flex-column justify-content-center align-items-center" v-if="watchSons===1">
            <section class="w-25">
              <div class=" contianer-label mb-1 d-flex">
                <label for="">¿Cuántos hijos tiene?</label>
              </div>
              <input type="number" class="form-control rounded-2 w-100" v-model="son">
          
            </section>
          </div>

        </div>
      
        <div class="container col-3 d-flex justify-content-center w-50 mt-5">
          <button class="btn btn-primary w-50 font-size-bold" @click="save"> Guardar</button>
        </div>
      
      </div>
      



    <!-- Inicio del Pide de pagina -->
    <!-- <footer class="d-flex mt-auto">
      <div class="container d-flex align-items-center justify-content-center">
        <p class="fw-bold h6-font-size">copyright© Calzado Marin S.A.S</p>
      </div>
    </footer> -->
    <!-- Fin del pie de pagina  -->


  </div>
  <script src="../BackEnd/js/vue.js"></script>
  <script src="../BackEnd/js/main.js"></script>
</body>

</html>