:root{
  --primary:#5086C1;
  --secondary:#6A9EDA;
  --tertiary: #84B6F4;
  --quaternary: #B2DAFA;
  --quinary: #E0FFFF;
  --text: #000000;
  --lg-header:40px;
  --lg-title:35px;
  --lg:27px;
  --sm:16px;
  --xs:10px;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background:var(--primary);
}
#app{
  height: 100vh;
}

header {
  height: 12vh;
  background: var(--secondary);
  box-shadow: 0 0 10px 0.1px;
}

header img {
  height: 40px;
}
.section{
  width: 30%;
}

.title-footer {
  font-weight: bold;
  font-size: var(--sm);
}

/* facturas */
.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container table{
  background: var(--quinary);
  border-radius: 10px;
  height: 300px;
}

/* Inicio header */

#radio{
  width: 20%;
}
.form-select{
  box-shadow: 0 0 10px 0.1px;
}

label{
  font-size: var(--sm);
  font-weight: bolder;
}
option{
  background: var(--quinary);
}
.form-control{
  background-color: var(--quinary);
  box-shadow: 0 0 10px 0.1px;
}
h1{
  font-weight: bold;
}
/* Pie de pagina */
footer{
    background:var(--secondary);
    color: var(--text);
    height: 10vh;
}
